<div class="lists">
  {{#each lists as |list index|}}
    {{#x-sortable tagName="ul" options=(hash group="Lists" onAdd=(action "addedToList" index))}}
      {{#each list as |item|}}
        <li>{{item}}</li>
      {{/each}}
    {{/x-sortable}}
  {{/each}}
</div>